:root {
    --mainColor: #ff9800;
}


.navbar a {
    color: #000;
}

a.dark-mode {
    color: white;
}

a {
    text-decoration: none;
}

.image {
    opacity: 1;
    display: block;
    transition: .1s ease-in-out;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}



.project .kbmpti:hover .image {
    background-color: #38006b;
    opacity: 0.3;
    cursor: pointer;
}


.project .kbmpti:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.project .skapat:hover .image {
    background-color: #38006b;
    opacity: 0.3;
    cursor: pointer;
}

.project .skapat:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.project .abouinam:hover .image {
    background-color: #38006b;
    opacity: 0.3;
    cursor: pointer;
}

.project .abouinam:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.project .hmjkimia:hover .image {
    background-color: #38006b;
    opacity: 0.3;
    cursor: pointer;
}

.project .hmjkimia:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.contact .github a {
    color: #000;
}

.contact .github a i:hover,
.contact .linkedin a i:hover,
.contact .facebook a i:hover,
.contact .ig a i:hover {
    color: #38006b;
}

.contact .linkedin a {
    color: #0A66C2;
}

.contact .facebook a {
    color: #0F90F3;
}

.contact .ig a {
    color: #C32568;
}

.contact .line a {
    color: #00B300;
}

.footer {
    padding-top: 2%;
    padding-bottom: 2%;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #2C2C2C;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

@media(max-width:600px) {
    .jumbotron h2 {
        font-size: 30px;
    }
}

/* body {
    font-family: sans-serif;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
} */

.switch {
    align-self: flex-end;
    margin: 5px;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

/* FLOATING BUTTON WA */



/* @media(max-width: 700px) {
    .card {
        margin: auto;
        width: 20rem;
    }
} */

.float {
    animation: shake 1.0s infinite alternate ease-in-out;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

@keyframes shake {
    0% {
        transform: translateY(-10px);
    }
}

.float:hover {
    color: #000;
}

.my-float {
    margin-top: 16px;
    background-color: #25d366;
}

/* END FLOATING BUTTON WA */